PORT=5000
MONGODB_URI=mongodb+srv://babargee727_db_user:3OM7pBm6z6C2soYQ@YOUR_CLUSTER_URL/sterling-market?retryWrites=true&w=majority
JWT_SECRET=super_secret_sterling_jwt_key_2026
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
